html, body, head {
    background-color: rgb(255, 255, 255);
}
#workInProgress {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#Logo {
    width: 50vh;
    height: 45vh;

}
.LogoScript{
    font-family: 'Aleo';
    font-size: 5vh;
    text-align: center;
    margin-top: -5vh;
}
#navBarSection {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    width: 100vw;
    height: 12vh;
    background-color: green;
    border: solid 1vh darkgreen;
}
.navLogoText {
    font-family: 'Aleo';
    font-size: 3.5vh;
    text-align: center;
}
#navLogo {
    width:12vh;
    height: 12vh;
}
#navBarSectionLinks {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    width: 100vw;
    height: 5vh;
    background-color: green;
    
}
.navBarLinks {
    font-size: 2vh;
    text-decoration: none;
    color: black;
    margin-right: 3.5vh;
    font-family: 'Aleo';

}